          <div class="row">
            <div class="col-md-12 text-right">
              <a href="#"><i class="fa fa-navicon fa-2x nav_slide_button"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="animated bounceInDown"> CASU </h1>
              <p class="animated fadeInUpDelay"> GUILT FREE GAMING FOR ALL, WHERE LUCK & FUN IS PARAMOUNT!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <a href="" class="get-started-btn"> PLAY TODAY </a>
            </div>
          </div>