<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="#"><i class="fa fa-navicon fa-2x nav_slide_button"></i></a>
        </div>
    </div>
    <h1> Scores!</h1>
    <ol id="scoring">

    </ol>
    <a href="/"><button class="btn btn-primary"> Go back </button> </a>
    <button class= "btn btn-primary" id="clearBtn"> Clear Scores </button>