<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  
  <h1> Choose a game to play! </h1> 
 
  <a href="/games/rps"><button> Rock-Paper-Scissors</button></a>
  <a href="/games/racing"><button> Racing </button></a>
  <button> 3rd Game </button>


</div>

<script src="./js/profile.js"></script>
