    <link rel="stylesheet" href="/rps2/style2.css"/>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <a href="#"><i class="fa fa-navicon fa-2x nav_slide_button"></i></a>
      </div>
    </div>
        <section class="game">
            <div class="score">
                <div class="player-score">
                    <h2>Player</h2>
                    <p>0</p>
                </div>
                <div class="computer-score">
                    <h2>Computer</h2>
                    <p>0</p>
                </div>
            </div>
            <div class="intro">
                <h1>Rock Paper Scissors</h1>
                <button>Let's Play</button>
            </div>
            <div class="match fadeOut">
                <h2 class="winner">Choose an option</h2>
                <div class="hands">
                    <img class="player-hand" src="/rps2/assets/rock.png" alt="" />
                    <img class="computer-hand" src="/rps2/assets/rock.png" alt="" />
                </div>
                <div class="options">
                    <button class="rock">rock</button>
                    <button class="paper">paper</button>
                    <button class="scissors">scissors</button>
                </div>
            </div>
        </section>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
    <script src="/rps2/app.js"></script>